<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agregar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label><p> Nombre: </p></ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><p> Apellido: </p></ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><p> carnet: </p></ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item></ion-item>
<!-- haca creamos el boton agrega -->
  <ion-button expand="block" color="medium">
    <ion-icon name="person-add-outline"></ion-icon>
    Agregar
  </ion-button>

</ion-content>
